%header{role: "banner"}
  %h1= link_to data.config.site.title, "/", rel: "home"

  %nav{role: "navigation"}
    %h2
      Navigation
    %ul
      %li{nav_active("page.html")}
        = link_to "Sample page", "page.html"
