---
  title: 404 - Not Found
  body_classes: page error
  meta_description:
  meta_keywords:
  hide_from_sitemap: true
---

%main{role: 'main'}
  %h1= data.page.title
  %p
    There was an error trying to find the page you requested.
    %br
    You might find what you were looking for on the
    = link_to  "home", "/"
    page.
