---
  title: Sample Page
  body_classes: page
  meta_description:
  meta_keywords:
---

%main{role: 'main'}
  %article
    %h1= data.page.title
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, dolor voluptas praesentium esse quia itaque consequatur reprehenderit earum aliquid qui reiciendis, odio, amet sunt culpa quibusdam mollitia ullam, dolore. Unde?
